
/* grid system mobile */
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

/* grid system for pc */
@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-links {

    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}

